@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500");

html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

body {
	font: 15px/1.5 "Roboto Mono", Helvetica, sans-serif;
	color: #ebebea;
	background: radial-gradient(ellipse at bottom, #232a5b 0%, #110318 100%);
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shooting_star {
    position: absolute;
	z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position-x: center;
    background-size: cover;
    animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
    0%,100% { transform:scale(1); }
    50% { transform:scale(1.2); }
}

.span_star{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
	background: rgb(203, 219, 255);
	border-radius: 100%;
	filter: drop-shadow(0 0 6px rgb(255, 175, 230));
    animation:  animate 3s linear infinite;
}

.span_star::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, rgba(226, 95, 255, 0.75), transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    } 70% {
        opacity: 1;

    } 100% {
        transform: rotate(315deg) translateX(-1800px);
        opacity: 0;
    }

}

.span_star:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

.span_star:nth-child(2){
    top: 0;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}

.span_star:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}

.span_star:nth-child(4){
    top: 0;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

.span_star:nth-child(5){
    top: 0;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

.span_star:nth-child(6){
    top: 0;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}
.span_star:nth-child(7 ){
    top: 300px;
    right: 0px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 1.75s;
}

.span_star:nth-child(8){
    top: 0px;
    right: 700px;
    left:initial;
    animation-delay:1.4s ;
    animation-duration: 1.25s;
}

.span_star:nth-child(9){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:0.75s ;
    animation-duration: 2.25s;
}

.span_star:nth-child(10){
    top: 80px;
    right: 900x;
    left:initial;
    animation-delay:2.75s ;
    animation-duration: 2.25s;
}

dd, dl, h1, p {
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-size: inherit;
	font-weight: 400;
	margin: 0;
	line-height: .8;
}

a {
	color: inherit;
	position: relative;
	border-bottom: 1px solid #f8f8f6;
	text-decoration: none;
}

a:hover, a:focus {
	color: #c572cd;
	border-bottom: 1px solid #b18aff;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus {
	outline: 0;
}

.main-text {
	font: 500 20px/1 "Roboto Mono", Helvetica, sans-serif;
	filter: drop-shadow(0 0 6px rgba(105, 155, 255, 0.3));
}

.main-text-small {
	font-size: 15px;
	filter: drop-shadow(0 0 6px rgba(105, 155, 255, 0.3));
}

.logo {
	filter: drop-shadow(0 0 6px rgba(105, 155, 255, 0.3));
	background: url('../../assets/images/logo.svg') no-repeat;
	background-position: top left, top left;
	background-repeat: no-repeat;
	background-size: auto, auto 100%;
	width: 42px;
	height: 50px;
	padding: 0;
	margin: 0;
}

@media (max-width: 600px) {
	.logo {
		width: 42px;
		height: 50px;
	}
}

.section {
	z-index: 1;
	position: relative;
	padding: 96px 0 96px 96px;
	width: calc(100vw - 96px - 7em);
	display: -webkit-box;
	display: flex;
	box-sizing: border-box;
	min-height: 100vh;
}

@media (max-width: 1024px) {
	.section {
		padding: 48px 0 48px 48px;
		width: calc(100vw - 48px - 7em);
	}
}

@media (max-width: 950px) {
	.section {
		padding: 7.5vw;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.section {
		display: block;
		min-height: 0;
	}
}

.column-section {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

@media (max-width: 600px) {
	.column-section-main {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
}

.section-bio {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.col-section {
	width: 100%;
	max-width: 382px;
}

@media (max-width: 600px) {
	.col-section {
		margin-bottom: 15vw;
	}
}

@font-face{
	font-family: 'MyWebFont';
	src: url(ndot47.ttf); 
  }


.bio {
	filter: drop-shadow(0 0 6px rgba(105, 155, 255, 0.5));

	font-family: MyWebFont;
	font-size: 40px;
	font-weight: 100;
	margin-bottom: -.45em;
	max-width: 700px;
}

@media (max-width: 600px) {
	.bio {
		padding-top: 15vw;
		font-size: 18px;
	}
}

.list {
	margin-top: 3.2em;
}

.list-item {
	margin-top: .25em;
	margin-bottom: 2em;
}

.list-item:last-child {
	margin-bottom: -.4em;
}

.scrunch {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.scrunch:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.footer {
	z-index: 10000;
	position: fixed;
	right: 96px;
	bottom: 92px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: end;
	align-items: flex-end;
}

@media (max-width: 1024px) {
	.footer {
		right: 48px;
		bottom: 48px;
	}
}

@media (max-width: 950px) {
	.footer {
		position: relative;
		right: auto;
		bottom: auto;
		padding: 0 7.5vw 7.5vw;
		-webkit-box-align: start;
		align-items: flex-start;
	}
}

.footer-links {
	margin-top: 1em;
	line-height: 1;
}

@media (max-width: 950px) {
	.footer-links {
		display: inline;
	}
}

@media (hover: hover) {

	.link-email:hover~.scrunch:after {
		-webkit-animation: one 1s .25s linear forwards;
				animation: one 1s .25s linear forwards;
	}

	.link-behance:hover~.scrunch:after {
		-webkit-animation: two 1s .25s linear forwards;
				animation: two 1s .25s linear forwards;
	}

	.link-dribbble:hover~.scrunch:after {
		-webkit-animation: three 1s .25s linear forwards;
				animation: three 1s .25s linear forwards;
	}

	.link-linkedin:hover~.scrunch:after {
		-webkit-animation: four 1s .25s linear forwards;
				animation: four 1s .25s linear forwards;
	}

	.link-twitter:hover~.scrunch:after {
		-webkit-animation: five 1s .25s linear forwards;
				animation: five 1s .25s linear forwards;
	}

	.link-instagram:hover~.scrunch:after {
		-webkit-animation: six 1s .25s linear forwards;
				animation: six 1s .25s linear forwards;
	}

	.link-site:hover~.scrunch:after {
		-webkit-animation: seven 1s .25s linear forwards;
				animation: seven 1s .25s linear forwards;
	}
}


